{% extends "base.htm" %}


{% block title %}
My Blog

{% endblock %}
{% block content %}
<header>

    <h1><a href="http:"">Wamah' Blog</a></h1>
    <nav>
        <a href="http:"">All Posts</a>
    </nav>
</header>

<section id="welcome">
    <header>
        <img src="" alt="Wamah - The Author Of This Blog" />
        <h2>WAMAH'S BLOG</h2>
    </header>
    <p> Hi, I am Wamah and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
    <h2>My Latest Thoughts</h2>

    <ul>
        <li>
            <article class="post">
                <a href="">
                    <img src="" alt="Mountain Hiking"/>
                    <div class="post_content">
                        <h3>Mountain Hiking</h3>
                        <p>There is nothing like the views you get when hiking in the mountains!
                        And I wasn't even prepared for what happened whilst i was enjoying the view!</p>
                    </div>
                </a>        
            </article>
        </li>
    </ul>
</section>

<section id="about">
    <h2>What I Do</h2>
    <p>I love programming, i love to help others and i enjoy exploring new technologies in general</p>

    <p>My goal is to keep growing as a developer and if i could help you do the same, I'd very happy!</p>

</section>


{% endblock %}